body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  color: #333;
}

.container {
  margin: 30px auto;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 15px;
  background-color:  #de8f67;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #fdc7ac;
  color:  #ff5500;
  transition: .5s all;   

}
ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0;
}

li select {
  width: 100%;
  padding: 5px;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
}

li.completed {
  text-decoration: line-through;
  color: #dca4c0;
}

button.remove {
  background-color: #ff8a8ae9;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button.remove:hover {
  background-color: #ffa0b1;
  color:  #ff0080;
  transition: .5s all;   

}
/* 
.check {
  appearance: none;
  background-color:  #ffeff7;
  border:#dca4c0;
  width: 24px;
  height: 24px;
  margin: 1px0;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #6469ff4d;
  padding: 3px;

}

.check:hover{
  background-color: #ffc3ce;
  color:  #feadd5;
  transition: .5s all; 
}
.check:checked {
  background-color: #e95d76;
  color:  #ffffff;
  transition: .5s all; 
}
.checkText{
  color:  #a41b1b;

} */